# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
venv/
venv_old/

# PyTorch / model files
*.pth
*.pt
*.ckpt

# Dataset
dataset/

# Results
results/

# Jupyter
.ipynb_checkpoints/

# Environment files
.env
.env.*
!.env.example

# Node
node_modules/
frontend/dist/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Empty notebook
Untitled.ipynb
